#qwerty{
	padding-top: 2%;
	/*background-color: #d4ee2d ;*/
	/*background-image: background.jpeg;*/
}
.footer{
	margin-top: 12%;
	padding: 20px 0px 20px 0px ;
	/*background-color: #eea32d ;*/
}
#zxcvb{
	background-color: /*#93f182*/ /*transparen*/#c6e3aa;
}
body{
 background-image: url("booking_page2.jpg");
}